body{
    background-color: #f5f7fa;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
img {
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}
hr {
    border-color: blue;
    width: 70%;
    
}
ul  {
    font-style: oblique;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
    
}
h1, section{
    text-align: center;
    color: rgb(87, 70, 180);
}
h2{
    color: rgb(87, 70, 180);
    
}
.service{
    color: navy;
}
button{
    background-color: skyblue;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    padding: 10px 20px;
}
a {
    text-align: center;

}
a:active {
    color: blueviolet;
}
a:hover {
    color: crimson;
}
.breadcrumbs {
    background-color: skyblue;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    display: flex;
    gap: 30px;
    justify-content: center;
} 
.breadcrumbs a:not(:last-child)::after {
    content: "/";
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: larger;
}
.breadcrumbs a:hover {
    color: black;
}