body{
    background-color: #f5f7fa;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("https://lh3.googleusercontent.com/gps-cs-s/APNQkAGXTJhCSIyk72TMn56vpwvfdoNg_-A5fZCidL-mfFucNiYrXjosRJnfUDU9zPRyN2uH2cRkOQreTdYGP3AiWMaUN_0i2xS39uSyN62aRHSLJLIMGcpjWyn_43fxxY2xW56D1p_f=s1360-w1360-h1020-rw") no-repeat center / cover fixed;
    min-height: 100vh;
}
h1, p {
    color: goldenrod;
    text-align: left;

}
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px;
    text-align: left;
    align-items: flex-start;

}
.hero h1, .hero p {
    transform: translateY(-180px);
}
.hero h1 {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.hero p {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.breadcrumbs {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    display: flex;
    gap: 30px;
    justify-content: center;
} 
.breadcrumbs a:not(:last-child)::after {
    content: "/";
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: larger;
}
.breadcrumbs a:hover {
    color: wheat;
}
nav a, nav {
    color: goldenrod;
}
.btn {
    background-color: rgba(218, 165, 32, 0.792);
    color: black;
    transform: translateY(-180px);
    font-size: 20px;
    border-radius: 500px;
    font-family: 'Cairo', sans-serif;
    display: flex;
    text-decoration: none;
    transition: 0.3s;

}
.breadcrumbs a {
   text-decoration: none;
}
.btn a:hover {
    color: wheat;
}
form {
 background-color: black;
 color: white;
 width: 600px;
 height: 300px;
 text-align: left;
}
#email::placeholder {
    color: rgb(94, 90, 90);
}
.personal-information label {
    display: block;
    margin: auto;
    padding: 10px;
}
.personal-information input {
    border-color: black;
}
#submit {
    background-color: goldenrod;
    color:rgba(0, 0, 0, 0.7);
   width: 70px;
   height: 30px;
   border-radius: 15px;
}
